<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.ieduchina.com/statics/pc/css/swiper.min.css">
    <script src="https://www.ieduchina.com/statics/js/jquery-3.2.1.min.js" type="text/javascript" defer></script>
    <script src="https://www.ieduchina.com/statics/pcc/js/swiper.min.js" type="text/javascript" defer></script>
</head>

<body>
    <header class="bar">
        <div class="bar-title">
            <div class="bar-title-con">
                <ul class="left">
                    <li class="nav">网站导航<div class="nav_box">
                            <div class="nav_box_in">
                                <ol>
                                    <li>学校大全</li>
                                    <li><a href="//schoollist.ieduchina.com">内地学校</a></li>
                                    <li><a href="//www.ieduchina.com/hongkong/" target="_blank">香港学校</a></li>
                                    <li><a href="//www.ieduchina.com/singapore/index.html" target="_blank">新加坡学校</a>
                                    </li>
                                    <li><a href="//schoollist.ieduchina.com/schlist/c1/">海外学校</a></li>
                                </ol>
                                <ol>
                                    <li>学校活动</li>
                                    <li><a href="//www.ieduchina.com/huodong/?type=9">家长学院</a></li>
                                    <li><a href="//www.ieduchina.com/huodong/?type=6">学校开放日</a></li>
                                    <li><a href="//www.ieduchina.com/topic/2025/hk13/" target="_blank">香港访校营</a>
                                    </li>
                                    <li><a href="//www.ieduchina.com/camps/index.html">夏/冬令营</a></li>
                                    <li><a href="//www.ieduchina.com/topic/2025/sz/index.html"
                                            target="_blank">国际教育论坛</a></li>
                                </ol>
                                <ol>
                                    <li>备考学习</li>
                                    <li><a href="//www.ieduchina.com/xuexi/index.html?tgfrom=guanwang">官方考试</a></li>
                                </ol>
                            </div>
                        </div>
                    </li>
                    <li><a href="//www.ieduchina.com/service/tousu.html" rel="nofollow">投诉建议</a></li>
                    <li><a href="//www.ieduchina.com/mp/login_member.html" rel="nofollow">发布文章</a></li>
                </ul>
                <ul class="right">
                    <li><a class="s2hk" style="cursor:pointer;">繁體</a></li>
                </ul>
            </div>
        </div>
        <div class="bar-header">
            <div class="logo"><a href="/" class=""><img src="//www.ieduchina.com/statics/pcc/img/logo_header.png?v=1"
                        alt="国际教育网"></a></div>
            <div class="search-box">
                <form action="//www.ieduchina.com/search/index.html" method="get" id="search"><input id="q"
                        class="search-content" name="searchkey" placeholder="搜索 学校/文章/机构" type="text" value=""><button
                        id="searchbtn" class="search-submit" type="submit"><img
                            src="//www.ieduchina.com/statics/pcc/img/search1.png?v=1"> 搜索 </button></form>
            </div>
            <div class="tel"><a>内地：400-900-8516<br>香港：+852 3565 1936</a></div>
        </div>
        <div class="iedu-menu-wrap">
            <div class="iedu-menu-box">
                <ul class="iedu-menu">
                    <li><a href="/" class=""><span>首页</span></a></li>
                    <li class="parentMenu"><a aria-current="page" href="/school"
                            class="router-link-active router-link-exact-active"><span>教育资讯</span></a>
                        <ul class="submenu">
                            <li><a aria-current="page" href="/school"
                                    class="router-link-active router-link-exact-active"><span>校园资讯</span></a></li>
                            <li><a aria-current="page" href="/school"
                                    class="router-link-active router-link-exact-active"><span>留学资讯</span></a></li>
                            <li><a aria-current="page" href="/school"
                                    class="router-link-active router-link-exact-active"><span>家庭教育</span></a></li>
                            <li><a aria-current="page" href="/school"
                                    class="router-link-active router-link-exact-active"><span>教育综合</span></a></li>
                        </ul>
                    </li>
                    <li class="parentMenu"><a href="//schoollist.ieduchina.com"><span>学校大全</span></a>
                        <ul class="submenu">
                            <li><a href="//schoollist.ieduchina.com"><span>内地学校</span></a></li>
                            <li><a href="//www.ieduchina.com/hongkong/" target="_blank"><span>香港学校</span></a></li>
                            <li><a href="//www.ieduchina.com/singapore/index.html"
                                    target="_blank"><span>新加坡学校</span></a></li>
                            <li><a href="//schoollist.ieduchina.com/schlist/c1/"><span>海外学校</span></a></li>
                            <li><a href="//www.ieduchina.com/graduate/index.html"><span>家长进修</span></a></li>
                        </ul>
                    </li>
                    <li><a href="//www.ieduchina.com/camps/index.html"><span>夏/冬令营</span></a></li>
                    <li class="parentMenu"><a href="//www.ieduchina.com/zwhb/"><span>合办大学</span></a>
                        <ul class="submenu">
                            <li><a href="//www.ieduchina.com/zwhb/"><span>中外合办大学</span></a></li>
                            <li><a href="//www.ieduchina.com/gwhb/"><span>港外合办大学</span></a></li>
                            <li><a href="//www.ieduchina.com/xwhb/"><span>新外合办大学</span></a></li>
                        </ul>
                    </li>
                    <li class="parentMenu"><a href="/huodong" class=""><span>学校活动</span></a>
                        <ul class="submenu">
                            <li><a href="//www.ieduchina.com/huodong/?type=6"><span>学校开放日</span></a></li>
                            <li><a href="//www.ieduchina.com/topic/2025/hk13/" target="_blank"><span><img
                                            src="//www.ieduchina.com/statics/pcc/img/11d86433.png"
                                            style="vertical-align:-1px;">访校团</span></a>
                                <div class="box">
                                    <div class="box_lis">
                                        <div class="box_con"><!--[--><a href="/topic/2025/hk13" class=""
                                                title="25年05月:可风中学、世界龙冈学校刘皇发中学等10所学校">25年05月:可风中学、世界龙冈学校刘皇发中学等10所学校</a><a
                                                href="https://www.ieduchina.com/topic/2025/hk12"
                                                rel="noopener noreferrer"
                                                title="25年01月:中华基金中学、迦密爱礼信中学等7所学校">25年01月:中华基金中学、迦密爱礼信中学等7所学校</a><a
                                                href="https://www.ieduchina.com/topic/2024/hk11/"
                                                rel="noopener noreferrer"
                                                title="24年12月:元朗公立中学校友会邓英业小学等5所学校">24年12月:元朗公立中学校友会邓英业小学等5所学校</a><a
                                                href="https://www.ieduchina.com/topic/2024/hk8/"
                                                rel="noopener noreferrer"
                                                title="24年12月:中华基督教会铭基书院等4所学校">24年12月:中华基督教会铭基书院等4所学校</a><a
                                                href="https://www.ieduchina.com/topic/2024/hk7/"
                                                rel="noopener noreferrer"
                                                title="24年10月:香岛中学、新会商会陈白沙纪念中学等9所学校">24年10月:香岛中学、新会商会陈白沙纪念中学等9所学校</a><a
                                                href="https://www.ieduchina.com/topic/2024/hkyx1/"
                                                rel="noopener noreferrer"
                                                title="24年07月:孔圣堂礼仁书院等5所本地学校(访校研学)">24年07月:孔圣堂礼仁书院等5所本地学校(访校研学)</a><a
                                                href="https://www.ieduchina.com/topic/2024/hk6/"
                                                rel="noopener noreferrer"
                                                title="24年07月:汇基书院（东九龙）、播道书院等4所学校">24年07月:汇基书院（东九龙）、播道书院等4所学校</a><a
                                                href="https://www.ieduchina.com/topic/2024/hk5/"
                                                rel="noopener noreferrer"
                                                title="24年05月:沙田培英、保良局罗杰承(一九八三)等15所学校">24年05月:沙田培英、保良局罗杰承(一九八三)等15所学校</a><a
                                                href="https://www.ieduchina.com/topic/2024/hk4/"
                                                rel="noopener noreferrer"
                                                title="24年01月:香港UWC、播道书院等8所学校">24年01月:香港UWC、播道书院等8所学校</a><a
                                                href="https://www.ieduchina.com/topic/2023/hk3/"
                                                rel="noopener noreferrer"
                                                title="23年12月:中华基督教会协和书院等6所学校+教育展">23年12月:中华基督教会协和书院等6所学校+教育展</a><a
                                                href="https://www.ieduchina.com/topic/2023/xg/"
                                                rel="noopener noreferrer"
                                                title="23年10月:保良局百周年李兆忠纪念中学等6所学校">23年10月:保良局百周年李兆忠纪念中学等6所学校</a><a
                                                href="https://www.ieduchina.com/topic/2023/hk/"
                                                rel="noopener noreferrer"
                                                title="23年07月:圣保禄学校、英华书院、九龙真光等10所学校 ">23年07月:圣保禄学校、英华书院、九龙真光等10所学校
                                            </a><!--]--></div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="//www.ieduchina.com/topic/2025/sz/index.html"
                                    target="_blank"><span>国际教育论坛</span></a>
                                <div class="box" style="padding-top:12px;">
                                    <div class="box_lis" style="max-height:486px;">
                                        <div class="box_con center"><!--[--><a href="//www.ieduchina.com/topic/2025/sz/"
                                                rel="nofollow" title="2025年05月">2025年05月</a><a
                                                href="//www.ieduchina.com/topic/2024/sz/" rel="nofollow"
                                                title="2024年10月">2024年10月</a><a
                                                href="//www.ieduchina.com/topic/2024/shenzhen/" rel="nofollow"
                                                title="2024年03月">2024年03月</a><a
                                                href="//www.ieduchina.com/topic/2023/shenzhen/" rel="nofollow"
                                                title="2023年10月">2023年10月</a><a
                                                href="//www.ieduchina.com/topic/2022/shenzhen/" rel="nofollow"
                                                title="2022年04月">2022年04月</a><a
                                                href="//www.ieduchina.com/topic/2020/1017_SZ/" rel="nofollow"
                                                title="2020年10月">2020年10月</a><a
                                                href="//www.ieduchina.com/topic/2020/711_SZ/" rel="nofollow"
                                                title="2020年07月">2020年07月</a><a
                                                href="//www.ieduchina.com/topic/2020/3_SZ/" rel="nofollow"
                                                title="2020年03月">2020年03月</a><a
                                                href="//www.ieduchina.com/topic/2019/11_SZ/" rel="nofollow"
                                                title="2019年11月">2019年11月</a><a
                                                href="//www.ieduchina.com/topic/2019/07_SZ/" rel="nofollow"
                                                title="2019年07月">2019年07月</a><a
                                                href="//www.ieduchina.com/topic/2019/05_SH/" rel="nofollow"
                                                title="2019年05月">2019年05月</a><a
                                                href="//www.ieduchina.com/topic/2019/04_SZ/" rel="nofollow"
                                                title="2019年04月">2019年04月</a><a
                                                href="//www.ieduchina.com/topic/2019/03_GZ/" rel="nofollow"
                                                title="2019年03月">2019年03月</a><a
                                                href="//www.ieduchina.com/topic/2019/12_SZ/" rel="nofollow"
                                                title="2018年12月">2018年12月</a><a
                                                href="//www.ieduchina.com/topic/2018/5_GZ/" rel="nofollow"
                                                title="2018年05月">2018年05月</a><a
                                                href="//www.ieduchina.com/topic/2018/4_SZ/" rel="nofollow"
                                                title="2018年04月">2018年04月</a><a
                                                href="//www.ieduchina.com/topic/2017/11_GZ/" rel="nofollow"
                                                title="2017年11月">2017年11月</a><a
                                                href="//www.ieduchina.com/topic/2017/10_SZ/" rel="nofollow"
                                                title="2017年10月">2017年10月</a><!--]--></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="parentMenu"><a href="//www.ieduchina.com/xuexi/index.html?tgfrom=guanwang"
                            rel="nofollow"><span>备考学习</span></a>
                        <ul class="submenu">
                            <li><a href="//www.ieduchina.com/xuexi/index.html?tgfrom=guanwang"
                                    rel="nofollow"><span>官方考试</span></a>
                                <div class="box">
                                    <div class="box_lis">
                                        <div class="box_title">入学考试</div>
                                        <div class="box_con"><a
                                                href="//www.ieduchina.com/xuexi/index.html?tgfrom=guanwang"
                                                rel="nofollow">MAP</a><a
                                                href="//www.ieduchina.com/xuexi/index.html?tgfrom=guanwang"
                                                rel="nofollow">CAT4</a><a
                                                href="//www.ieduchina.com/xuexi/index.html?tgfrom=guanwang"
                                                rel="nofollow">中数</a><a
                                                href="//www.ieduchina.com/xuexi/index.html?tgfrom=guanwang"
                                                rel="nofollow">英数</a><a
                                                href="//www.ieduchina.com/xuexi/index.html?tgfrom=guanwang"
                                                rel="nofollow">新加坡</a></div>
                                    </div>
                                    <div class="box_lis">
                                        <div class="box_title">语言考试</div>
                                        <div class="box_con"><a
                                                href="//www.ieduchina.com/xuexi/index.html?tgfrom=guanwang"
                                                rel="nofollow">雅思</a><a
                                                href="//www.ieduchina.com/xuexi/index.html?tgfrom=guanwang"
                                                rel="nofollow">托福</a><a
                                                href="//www.ieduchina.com/xuexi/index.html?tgfrom=guanwang"
                                                rel="nofollow">多邻国</a><a
                                                href="//www.ieduchina.com/xuexi/index.html?tgfrom=guanwang"
                                                rel="nofollow">SAT</a><a
                                                href="//www.ieduchina.com/xuexi/index.html?tgfrom=guanwang"
                                                rel="nofollow">GRE</a></div>
                                    </div>
                                    <div class="box_lis">
                                        <div class="box_title">国际考试</div>
                                        <div class="box_con"><a
                                                href="//www.ieduchina.com/xuexi/index.html?tgfrom=guanwang"
                                                rel="nofollow">A-LEVEL</a><a
                                                href="//www.ieduchina.com/xuexi/index.html?tgfrom=guanwang"
                                                rel="nofollow">IB考试</a><a
                                                href="//www.ieduchina.com/xuexi/index.html?tgfrom=guanwang"
                                                rel="nofollow">AP考试</a><a
                                                href="//www.ieduchina.com/xuexi/index.html?tgfrom=guanwang"
                                                rel="nofollow">DSE考试</a></div>
                                    </div>
                                    <div class="box_lis">
                                        <div class="box_title">数学竞赛</div>
                                        <div class="box_con"><a
                                                href="//www.ieduchina.com/xuexi/index.html?tgfrom=guanwang"
                                                rel="nofollow">美国AMC</a><a
                                                href="//www.ieduchina.com/xuexi/index.html?tgfrom=guanwang"
                                                rel="nofollow">澳洲AMC</a><a
                                                href="//www.ieduchina.com/xuexi/index.html?tgfrom=guanwang"
                                                rel="nofollow">袋鼠数学竞赛</a></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="//www.ieduchina.com/service/aboutus.html" rel="nofollow"><span>关于我们</span></a></li>
                </ul>
            </div>
        </div>
    </header>
    <section class="abroad">
        <div class="abroad-con">
            <div class="abroad-banner" data-v-46f78f66><!--[--><a
                    href="//www.ieduchina.com/shenzhen/education/202506/129712.html" data-v-46f78f66><img
                        src="https://www.ieduchina.com/statics/js/editor/php/upload/image/20250620/1750401862167012.jpg"
                        alt="2025深圳普林云海港人子弟学校学费及学校简介" data-v-46f78f66>
                    <p data-v-46f78f66>2025深圳普林云海港人子弟学校学费及学校简介</p>
                </a><a href="//www.ieduchina.com/school/education/202506/129711.html" data-v-46f78f66><img
                        src="https://www.ieduchina.com/statics/js/editor/php/upload/image/20250620/1750400582356429.jpg"
                        alt="2025常州外国语附属双语学校高中部学费及招生条件" data-v-46f78f66>
                    <p data-v-46f78f66>2025常州外国语附属双语学校高中部学费及招生条件</p>
                </a><a href="//www.ieduchina.com/school/dynamics/202506/129709.html" data-v-46f78f66><img
                        src="//www.ieduchina.com/uploadfile/202506/f46120250620090424.jpg"
                        alt="速览 | 太仓市华顿外国语学校2025年秋季高中入学简章" data-v-46f78f66>
                    <p data-v-46f78f66>速览 | 太仓市华顿外国语学校2025年秋季高中入学简章</p>
                </a><!--]--></div>
            <div class="abroad-news">
                <h3><span>校园最新资讯</span></h3>
                <ul><!--[-->
                    <li><a href="//www.ieduchina.com/shanghai/education/202506/129708.html"
                            rel="noopener noreferrer"><img
                                src="//www.ieduchina.com/uploadfile/202506/f42220250620090359.jpg"
                                alt="6月29日普高开放日及招生问答｜上海美达菲双语高级中学"></a>
                        <div class="abroad-article"><a href="//www.ieduchina.com/shanghai/education/202506/129708.html"
                                rel="noopener noreferrer">
                                <h2>6月29日普高开放日及招生问答｜上海美达菲双语高级中学</h2>
                            </a>
                            <div class="text">
                                <p>MacDuffieQ1：上海美达菲双语高级中学是一所什么样的学校？答：上海美达菲双语高级中学是经上海市教育主管部门批准成立的全日制、寄宿制的民办高中学校(招生代码:204020)，是天立集团重点打造的旗舰校。学校以双语
                                </p>
                            </div>
                            <p class="source"><a href="//www.ieduchina.com/home/5593.html"
                                    rel="noopener noreferrer"><img
                                        src="https://www.ieduchina.com/uploadfile/toutiao/202210/1665196245814007.png"
                                        alt="上海美达菲学校"><span>上海美达菲学校</span></a><span>2天前</span></p>
                        </div>
                    </li>
                    <li><a href="//www.ieduchina.com/school/education/202506/129707.html" rel="noopener noreferrer"><img
                                src="//www.ieduchina.com/uploadfile/202506/f45520250620085839.jpg"
                                alt="墨香浸童趣，字韵绽华章——CBFS第二届汉字认读、书写比赛 I Chinese Characters Competition"></a>
                        <div class="abroad-article"><a href="//www.ieduchina.com/school/education/202506/129707.html"
                                rel="noopener noreferrer">
                                <h2>墨香浸童趣，字韵绽华章——CBFS第二届汉字认读、书写比赛 I Chinese Characters Competition</h2>
                            </a>
                            <div class="text">
                                <p>零星可比炽日华字若珠玑句无暇中国汉字是我国文化的瑰宝沉淀在悠久岁月的历史长河中绽放着它独特的光芒推开汉字世界的大门，恰似开启一段奇遇满满的探秘之旅！为引领学
                                </p>
                            </div>
                            <p class="source"><a href="//www.ieduchina.com/home/14089.html"
                                    rel="noopener noreferrer"><img
                                        src="https://www.ieduchina.com/uploadfile/toutiao/202307/1689584436455252.jpg"
                                        alt="BeeMee彼一米"><span>BeeMee彼一米</span></a><span>2天前</span></p>
                        </div>
                    </li>
                    <li><a href="//www.ieduchina.com/school/dynamics/202506/129706.html" rel="noopener noreferrer"><img
                                src="//www.ieduchina.com/uploadfile/202506/f66320250620085817.jpg"
                                alt="昆明世青学校2025年高中招生简章"></a>
                        <div class="abroad-article"><a href="//www.ieduchina.com/school/dynamics/202506/129706.html"
                                rel="noopener noreferrer">
                                <h2>昆明世青学校2025年高中招生简章</h2>
                            </a>
                            <div class="text">
                                <p>昆明世青学校是北京世青直属学校，是由教育工作者而非企业家创办的民办非营利性学校。昆明世青采用小班授课，满足广泛的学生需求。在整个高中阶段，我们会运用学校的教育理念，如教学基于探究、注重概念性理解、在情境中
                                </p>
                            </div>
                            <p class="source"><a href="//www.ieduchina.com/home/13882.html"
                                    rel="noopener noreferrer"><img
                                        src="https://www.ieduchina.com/uploadfile/gzh/202303/167775046912446.jpg"
                                        alt="昆明世青学校"><span>昆明世青学校</span></a><span>2天前</span></p>
                        </div>
                    </li>
                    <li><a href="//www.ieduchina.com/school/dynamics/202506/129705.html" rel="noopener noreferrer"><img
                                src="//www.ieduchina.com/uploadfile/202506/f41120250620085801.jpg"
                                alt="合肥中锐学校2025年新高一招生简章"></a>
                        <div class="abroad-article"><a href="//www.ieduchina.com/school/dynamics/202506/129705.html"
                                rel="noopener noreferrer">
                                <h2>合肥中锐学校2025年新高一招生简章</h2>
                            </a>
                            <div class="text">
                                <p>尊敬的家长朋友：您好！衷心感谢您一直以来对合肥中锐学校的关注与支持。现将合肥中锐学校2025年高一年级招生简章公布如下：</p>
                            </div>
                            <p class="source"><a href="//www.ieduchina.com/home/5902.html"
                                    rel="noopener noreferrer"><img
                                        src="https://www.ieduchina.com/uploadfile/gzh/202303/167893157164242.jpg"
                                        alt="合肥中锐学校"><span>合肥中锐学校</span></a><span>2天前</span></p>
                        </div>
                    </li>
                    <li><a href="//www.ieduchina.com/school/education/202506/129704.html" rel="noopener noreferrer"><img
                                src="//www.ieduchina.com/uploadfile/202506/f56820250620085719.jpg"
                                alt="疯了，2026QS排名正式官宣!!英国大洗牌!"></a>
                        <div class="abroad-article"><a href="//www.ieduchina.com/school/education/202506/129704.html"
                                rel="noopener noreferrer">
                                <h2>疯了，2026QS排名正式官宣!!英国大洗牌!</h2>
                            </a>
                            <div class="text">
                                <p>2026年QS世界大学排名发布Tianjin Aoyu Harper
                                    Academy今天早上7点，世界大学排名正式发布!在标准方面，今年QS再次调整了指标，加了一项国际学生多样性(ISD)。</p>
                            </div>
                            <p class="source"><a href="//www.ieduchina.com/home/75078.html"
                                    rel="noopener noreferrer"><img
                                        src="https://www.ieduchina.com/uploadfile/toutiao/202410/1728960248925040.jpg"
                                        alt="天津奥宇哈珀学校"><span>天津奥宇哈珀学校</span></a><span>2天前</span></p>
                        </div>
                    </li>
                    <li><a href="//www.ieduchina.com/school/education/202506/129701.html" rel="noopener noreferrer"><img
                                src="//www.ieduchina.com/uploadfile/202506/f70520250620085554.jpg"
                                alt="2026QS排名大洗牌！港大飙升！这次排名真的很颠..."></a>
                        <div class="abroad-article"><a href="//www.ieduchina.com/school/education/202506/129701.html"
                                rel="noopener noreferrer">
                                <h2>2026QS排名大洗牌！港大飙升！这次排名真的很颠...</h2>
                            </a>
                            <div class="text">
                                <p>就在今早，QS官方发布了最新2026年世界大学排名！作为知名度极高的全球大学排行榜，每年的QS排名都会受到极大的关注。尤其是U.S.
                                    News周二抢先发布了2025-2026年度全球最佳院校排名，</p>
                            </div>
                            <p class="source"><a href="//www.ieduchina.com/home/4920.html"
                                    rel="noopener noreferrer"><img
                                        src="https://www.ieduchina.com/uploadfile/gzh/202112/164024959930856.jpg"
                                        alt="选校砖家"><span>选校砖家</span></a><span>2天前</span></p>
                        </div>
                    </li>
                    <li><a href="//www.ieduchina.com/school/education/202506/129700.html" rel="noopener noreferrer"><img
                                src="//www.ieduchina.com/uploadfile/202506/f38320250620085505.jpg"
                                alt="Students’ Speech | 在学生会，遇见更好的自己"></a>
                        <div class="abroad-article"><a href="//www.ieduchina.com/school/education/202506/129700.html"
                                rel="noopener noreferrer">
                                <h2>Students’ Speech | 在学生会，遇见更好的自己</h2>
                            </a>
                            <div class="text">
                                <p>星光熠熠 榜样领航演讲结束后，本次升旗仪式迎来了颁奖盛会。首先颁发的是粤见花开艺术比赛赛事的各个奖项，由刘春副校长为获奖同学颁奖。</p>
                            </div>
                            <p class="source"><a href="//www.ieduchina.com/home/7064.html"
                                    rel="noopener noreferrer"><img
                                        src="https://www.ieduchina.com/uploadfile/gzh/202110/163512691354531.jpg"
                                        alt="广州暨大港澳子弟学校"><span>广州暨大港澳子弟学校</span></a><span>2天前</span></p>
                        </div>
                    </li>
                    <li><a href="//www.ieduchina.com/school/education/202506/129698.html" rel="noopener noreferrer"><img
                                src="//www.ieduchina.com/uploadfile/202506/f13720250620084652.jpg"
                                alt="CISH MAPLE DRAGON (June Week 3, Part 4)"></a>
                        <div class="abroad-article"><a href="//www.ieduchina.com/school/education/202506/129698.html"
                                rel="noopener noreferrer">
                                <h2>CISH MAPLE DRAGON (June Week 3, Part 4)</h2>
                            </a>
                            <div class="text">
                                <p>PYP HighlightsCISHGrade 3As part of our descriptive writing project in Language
                                    Arts, we have been practicing sentence</p>
                            </div>
                            <p class="source"><a href="//www.ieduchina.com/home/13790.html"
                                    rel="noopener noreferrer"><img
                                        src="https://www.ieduchina.com/uploadfile/toutiao/202301/1674014884849190.jpg"
                                        alt="合肥加拿大外籍人员子女学校"><span>合肥加拿大外籍人员子女学校</span></a><span>2天前</span></p>
                        </div>
                    </li>
                    <li><a href="//www.ieduchina.com/school/education/202506/129697.html" rel="noopener noreferrer"><img
                                src="//www.ieduchina.com/uploadfile/202506/f32620250620084634.jpg"
                                alt="港大跃居2026QS排名Top 11！今夏「雅思集训+DSE冲刺营」抢占录取窗口期！"></a>
                        <div class="abroad-article"><a href="//www.ieduchina.com/school/education/202506/129697.html"
                                rel="noopener noreferrer">
                                <h2>港大跃居2026QS排名Top 11！今夏「雅思集训+DSE冲刺营」抢占录取窗口期！</h2>
                            </a>
                            <div class="text">
                                <p>家长、同学注意啦！北京时间2025年6月19日早晨07:01，QS2026世界大学排名正式发布。2026QS世界排名有何变化？哪些学校表现卓越成佼佼者，哪些又未续辉煌遗憾落榜？现在就跟随小编的脚步一探究竟！（图源：网
                                </p>
                            </div>
                            <p class="source"><a href="//www.ieduchina.com/home/10974.html"
                                    rel="noopener noreferrer"><img
                                        src="https://www.ieduchina.com/uploadfile/gzh/202210/166718280294136.jpg"
                                        alt="香港名校通"><span>香港名校通</span></a><span>2天前</span></p>
                        </div>
                    </li>
                    <li><a href="//www.ieduchina.com/school/education/202506/129696.html" rel="noopener noreferrer"><img
                                src="//www.ieduchina.com/uploadfile/202506/f23820250620084617.jpg"
                                alt="2025毕业生邓雨婵：化学少女的国际升学手记｜星耀宁碧"></a>
                        <div class="abroad-article"><a href="//www.ieduchina.com/school/education/202506/129696.html"
                                rel="noopener noreferrer">
                                <h2>2025毕业生邓雨婵：化学少女的国际升学手记｜星耀宁碧</h2>
                            </a>
                            <div class="text">
                                <p>摘要Highlights宁碧十年培育，叩开UCL化学之门！ 建校生邓雨婵获伦敦大学学院等名校录取。从排名焦虑到国际课程A*学子，她在宁碧个性化教育中点燃化学
                                </p>
                            </div>
                            <p class="source"><a href="//www.ieduchina.com/home/13637.html"
                                    rel="noopener noreferrer"><img
                                        src="https://www.ieduchina.com/uploadfile/toutiao/202210/1665631235390264.png"
                                        alt="宁乡市碧桂园学校"><span>宁乡市碧桂园学校</span></a><span>2天前</span></p>
                        </div>
                    </li>
                    <li><a href="//www.ieduchina.com/school/education/202506/129695.html" rel="noopener noreferrer"><img
                                src="//www.ieduchina.com/uploadfile/202506/f63620250620084131.jpg"
                                alt="优秀毕业生|郝梦想：怕什么，有梦就去闯！从北博德翰外校走到伦敦国王学院（KCL）！"></a>
                        <div class="abroad-article"><a href="//www.ieduchina.com/school/education/202506/129695.html"
                                rel="noopener noreferrer">
                                <h2>优秀毕业生|郝梦想：怕什么，有梦就去闯！从北博德翰外校走到伦敦国王学院（KCL）！</h2>
                            </a>
                            <div class="text">
                                <p>亲爱的学弟学妹们，你们好！我是你们的学姐郝梦想！想必此时的你，正在为中考进行最后冲刺！请相信，追光的人，终会光芒万丈！本科：</p>
                            </div>
                            <p class="source"><a href="//www.ieduchina.com/home/9553.html"
                                    rel="noopener noreferrer"><img
                                        src="https://www.ieduchina.com/uploadfile/gzh/202212/167167767053930.jpg"
                                        alt="佛山市三水区北博德翰外国语学校"><span>佛山市三水区北博德翰外国语学校</span></a><span>2天前</span></p>
                        </div>
                    </li>
                    <li><a href="//www.ieduchina.com/school/education/202506/129694.html" rel="noopener noreferrer"><img
                                src="//www.ieduchina.com/uploadfile/202506/f55520250620084119.jpg"
                                alt="喜讯喜报|夺冠！北博学子斩获无人机竞速锦标赛佳绩！"></a>
                        <div class="abroad-article"><a href="//www.ieduchina.com/school/education/202506/129694.html"
                                rel="noopener noreferrer">
                                <h2>喜讯喜报|夺冠！北博学子斩获无人机竞速锦标赛佳绩！</h2>
                            </a>
                            <div class="text">
                                <p>热烈庆祝喜实力领跑佳绩斐然报在2025第九届世界无人机大会粤港澳大湾区无人机竞速锦标赛中，我校学生凭借扎实的技术功底和出色的临场发挥，从众多参赛队伍中脱颖而出，喜获一等奖10人，二等奖8人，三等奖6人，其中初一5班黄智文同学夺得无人机趣味飞
                                </p>
                            </div>
                            <p class="source"><a href="//www.ieduchina.com/home/9553.html"
                                    rel="noopener noreferrer"><img
                                        src="https://www.ieduchina.com/uploadfile/gzh/202212/167167767053930.jpg"
                                        alt="佛山市三水区北博德翰外国语学校"><span>佛山市三水区北博德翰外国语学校</span></a><span>2天前</span></p>
                        </div>
                    </li>
                    <li><a href="//www.ieduchina.com/shenzhen/education/202506/129693.html"
                            rel="noopener noreferrer"><img
                                src="//www.ieduchina.com/uploadfile/202506/f84820250620084056.jpg"
                                alt="Growth Celebration:K5 &amp;G5 Graduation Ceremonies 2025 K5和G5毕业典礼回顾"></a>
                        <div class="abroad-article"><a href="//www.ieduchina.com/shenzhen/education/202506/129693.html"
                                rel="noopener noreferrer">
                                <h2>Growth Celebration:K5 &amp;G5 Graduation Ceremonies 2025 K5和G5毕业典礼回顾</h2>
                            </a>
                            <div class="text">
                                <p>K5 &amp; G5 Graduation CeremoniesOn Tuesday, June 17, the ISNS auditorium was
                                    filled with joy, laughter, and a f</p>
                            </div>
                            <p class="source"><a href="//www.ieduchina.com/home/13727.html"
                                    rel="noopener noreferrer"><img
                                        src="https://www.ieduchina.com/uploadfile/toutiao/202211/1669772211608565.jpg"
                                        alt="ISNS深圳市南山外籍人员子女学校"><span>ISNS深圳市南山外籍人员子女学校</span></a><span>2天前</span>
                            </p>
                        </div>
                    </li>
                    <li><a href="//www.ieduchina.com/school/dynamics/202506/129692.html" rel="noopener noreferrer"><img
                                src="//www.ieduchina.com/uploadfile/202506/f21920250620084036.jpg"
                                alt="福港艺林学校2025年秋季招生简章"></a>
                        <div class="abroad-article"><a href="//www.ieduchina.com/school/dynamics/202506/129692.html"
                                rel="noopener noreferrer">
                                <h2>福港艺林学校2025年秋季招生简章</h2>
                            </a>
                            <div class="text">
                                <p>艺术特色IB认证深圳市福港艺林学校2025年招生简章学位有限
                                    先报先得招生简章学校简介福港艺林学校创办于2004年，属于国有民办学校。曾用名为深圳艺校福田泰然学校，位于深圳市福田区CBD碧海红树园</p>
                            </div>
                            <p class="source"><a href="//www.ieduchina.com/home/9286.html"
                                    rel="noopener noreferrer"><img
                                        src="https://www.ieduchina.com/uploadfile/gzh/202112/164031623738348.jpg"
                                        alt="深圳市福港艺林学校"><span>深圳市福港艺林学校</span></a><span>2天前</span></p>
                        </div>
                    </li>
                    <li><a href="//www.ieduchina.com/beijing/education/202506/129691.html"
                            rel="noopener noreferrer"><img
                                src="//www.ieduchina.com/uploadfile/202506/f83920250620084012.jpg"
                                alt="懂AI更懂榫卯的他们把“中西合璧”卷出新高度~"></a>
                        <div class="abroad-article"><a href="//www.ieduchina.com/beijing/education/202506/129691.html"
                                rel="noopener noreferrer">
                                <h2>懂AI更懂榫卯的他们把“中西合璧”卷出新高度~</h2>
                            </a>
                            <div class="text">
                                <p>“今日，我们庄严起誓——以少年意气，立寰宇之梦；怀感恩之心，赴星辰之约！我们将以钻研为刃，破开科学迷雾；以热忱为炬，点燃公益星火；以学识为帆，叩响世界名校之门；用少年之力，织就更温暖的
                                </p>
                            </div>
                            <p class="source"><a href="//www.ieduchina.com/home/7254.html"
                                    rel="noopener noreferrer"><img
                                        src="https://www.ieduchina.com/uploadfile/toutiao/202303/1679388304332466.png"
                                        alt="北京王府学校"><span>北京王府学校</span></a><span>2天前</span></p>
                        </div>
                    </li>
                    <li><a href="//www.ieduchina.com/school/education/202506/129689.html" rel="noopener noreferrer"><img
                                src="//www.ieduchina.com/uploadfile/202506/f95320250620083938.jpg"
                                alt="Gold Pen Award ｜ 喜报！中学部三学子在香港金笔奖书法比赛中收获佳绩！"></a>
                        <div class="abroad-article"><a href="//www.ieduchina.com/school/education/202506/129689.html"
                                rel="noopener noreferrer">
                                <h2>Gold Pen Award ｜ 喜报！中学部三学子在香港金笔奖书法比赛中收获佳绩！</h2>
                            </a>
                            <div class="text">
                                <p>Congratulations to three secondary students from ASJ (Dongguan) for their
                                    outstanding achievements at the 4th Hong Kong</p>
                            </div>
                            <p class="source"><a href="//www.ieduchina.com/home/13350.html"
                                    rel="noopener noreferrer"><img
                                        src="https://www.ieduchina.com/uploadfile/toutiao/202206/1655098793.png"
                                        alt="ASJ 东莞暨大港澳子弟学校"><span>ASJ 东莞暨大港澳子弟学校</span></a><span>2天前</span></p>
                        </div>
                    </li>
                    <li><a href="//www.ieduchina.com/shenzhen/education/202506/129685.html"
                            rel="noopener noreferrer"><img
                                src="//www.ieduchina.com/uploadfile/202506/f54420250620083449.jpg"
                                alt="新少年 | 朱文昊Terry：在新哲科创沃土扎根生长，机器人少年的进阶之路"></a>
                        <div class="abroad-article"><a href="//www.ieduchina.com/shenzhen/education/202506/129685.html"
                                rel="noopener noreferrer">
                                <h2>新少年 | 朱文昊Terry：在新哲科创沃土扎根生长，机器人少年的进阶之路</h2>
                            </a>
                            <div class="text">
                                <p>翻开Terry的成长记录，一个专注科创的少年形象清晰可见：备赛期间“夜里挑灯”调试设备，在实验室沉心钻研技术细节，即便天赋极高仍坚持学习理论知识，还带队将RCJ机器人足球队伍重返国内技术
                                </p>
                            </div>
                            <p class="source"><a href="//www.ieduchina.com/home/5070.html"
                                    rel="noopener noreferrer"><img
                                        src="https://www.ieduchina.com/uploadfile/gzh/202304/168229866342471.jpg"
                                        alt="新哲文院"><span>新哲文院</span></a><span>2天前</span></p>
                        </div>
                    </li>
                    <li><a href="//www.ieduchina.com/school/education/202506/129684.html" rel="noopener noreferrer"><img
                                src="//www.ieduchina.com/uploadfile/202506/f19520250620083440.jpg"
                                alt="2025毕业生何滨江：05后转轨生的教育突围与治愈成长 | 圆梦银滩"></a>
                        <div class="abroad-article"><a href="//www.ieduchina.com/school/education/202506/129684.html"
                                rel="noopener noreferrer">
                                <h2>2025毕业生何滨江：05后转轨生的教育突围与治愈成长 | 圆梦银滩</h2>
                            </a>
                            <div class="text">
                                <p>四年前那个炎热的夏天，她来到了碧桂园十里银滩学校，就读IGCSE课程。今年此刻，艳阳如常高照，何滨江手中已经握着伦敦大学学院、墨尔本大学、悉尼大学、曼彻斯特大学、南安普顿大学、华威大学的六大
                                </p>
                            </div>
                            <p class="source"><a href="//www.ieduchina.com/home/13344.html"
                                    rel="noopener noreferrer"><img
                                        src="https://www.ieduchina.com/uploadfile/toutiao/202205/1652840031.png"
                                        alt="碧桂园十里银滩学校"><span>碧桂园十里银滩学校</span></a><span>2天前</span></p>
                        </div>
                    </li>
                    <li><a href="//www.ieduchina.com/beijing/education/202506/129683.html"
                            rel="noopener noreferrer"><img
                                src="//www.ieduchina.com/uploadfile/202506/f96520250620083416.jpg" alt="赫德社团图鉴"></a>
                        <div class="abroad-article"><a href="//www.ieduchina.com/beijing/education/202506/129683.html"
                                rel="noopener noreferrer">
                                <h2>赫德社团图鉴</h2>
                            </a>
                            <div class="text">
                                <p>&quot; 看世界 找自己 &quot;ASPIRATIONHDBJ STUDENT
                                    CLUB你最擅长的是什么，最喜欢的事又是什么？你最想过什么样的生活？你最幸福的三个时刻是什么？</p>
                            </div>
                            <p class="source"><a href="//www.ieduchina.com/home/13029.html"
                                    rel="noopener noreferrer"><img
                                        src="https://www.ieduchina.com/uploadfile/toutiao/202203/1646288676.png"
                                        alt="北京赫德学校"><span>北京赫德学校</span></a><span>2天前</span></p>
                        </div>
                    </li>
                    <li><a href="//www.ieduchina.com/school/education/202506/129682.html" rel="noopener noreferrer"><img
                                src="//www.ieduchina.com/uploadfile/202506/f45420250620083401.jpg"
                                alt="想冲击牛津剑桥？G5名校申请全攻略来了！"></a>
                        <div class="abroad-article"><a href="//www.ieduchina.com/school/education/202506/129682.html"
                                rel="noopener noreferrer">
                                <h2>想冲击牛津剑桥？G5名校申请全攻略来了！</h2>
                            </a>
                            <div class="text">
                                <p>PART.01G5 名校简介、申请录取概要G5顶端：牛津、剑桥---当之无愧的顶级名校牛津、剑桥作为世界范围内的顶尖府，申请竞争极其激烈，并且难度逐年递增。
                                </p>
                            </div>
                            <p class="source"><a href="//www.ieduchina.com/home/13745.html"
                                    rel="noopener noreferrer"><img
                                        src="https://www.ieduchina.com/uploadfile/toutiao/202301/1673320347167853.jpg"
                                        alt="Alevel国际课程双语中心"><span>Alevel国际课程双语中心</span></a><span>2天前</span></p>
                        </div>
                    </li><!--]-->
                </ul>
            </div>
        </div>
        <aside>
            <div id="side">
                <div id="activity_hot1">
                    <div class="swiper activity1 swiper-container-horizontal">
                        <div class="swiper-wrapper"
                            style="transition-duration:0ms;transform:translate3d(-1800px, 0px, 0px);">
                            <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="7"
                                style="width:360px;">
                                <div class="image"
                                    style="background-image:url(https://zhaosheng.ieduchina.com/Upload/File/202506/683fe7b4de58a.png);">
                                    <div class="status"></div>
                                    <div class="title">
                                        <div class="text">
                                            <p>上海美达菲学校6月8日校园开放日</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>开始时间：2025-06-08 13:00-16:00</p>
                                    <p>主办单位：上海美达菲学校</p> <a
                                        href="//www.ieduchina.com/huodong/202506/2781.html"><button>查看详情
                                            →</button></a>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="0" style="width:360px;">
                                <div class="image"
                                    style="background-image:url(https://zhaosheng.ieduchina.com/Upload/File/202506/683ea40bb46eb.png);">
                                    <div class="status"></div>
                                    <div class="title">
                                        <div class="text">
                                            <p>2025荟同时装秀，邀您参加</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>开始时间：2025-06-06 18:30-19:00</p>
                                    <p>主办单位：深圳荟同学校</p> <a
                                        href="//www.ieduchina.com/huodong/202506/2780.html"><button>查看详情
                                            →</button></a>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="1" style="width:360px;">
                                <div class="image"
                                    style="background-image:url(https://zhaosheng.ieduchina.com/Upload/File/202505/682583c20b70d.png);">
                                    <div class="status"></div>
                                    <div class="title">
                                        <div class="text">
                                            <p>珠海英华6月7日招生说明会，邀您参加</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>开始时间：2025-06-07 09:30-11:30</p>
                                    <p>主办单位：珠海英华国际高中</p> <a
                                        href="//www.ieduchina.com/huodong/202505/2749.html"><button>查看详情
                                            →</button></a>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="2" style="width:360px;">
                                <div class="image"
                                    style="background-image:url(https://zhaosheng.ieduchina.com/Upload/File/202505/682aa7607a65d.png);">
                                    <div class="status"></div>
                                    <div class="title">
                                        <div class="text">
                                            <p>蓝湾未来领导力学校小学部6月7日校园开放日</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>开始时间：2025-06-07 09:30-12:00</p>
                                    <p>主办单位：蓝湾未来领导力学校</p> <a
                                        href="//www.ieduchina.com/huodong/202505/2753.html"><button>查看详情
                                            →</button></a>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="3"
                                style="width:360px;">
                                <div class="image"
                                    style="background-image:url(https://zhaosheng.ieduchina.com/Upload/File/202505/6833b5a1b4973.png);">
                                    <div class="status"></div>
                                    <div class="title">
                                        <div class="text">
                                            <p>碧桂园十里银滩学校6月7日校园开放日</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>开始时间：2025-06-07 09:30-12:00</p>
                                    <p>主办单位：碧桂园十里银滩学校</p> <a
                                        href="//www.ieduchina.com/huodong/202505/2768.html"><button>查看详情
                                            →</button></a>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="4"
                                style="width:360px;">
                                <div class="image"
                                    style="background-image:url(https://zhaosheng.ieduchina.com/Upload/File/202505/683555cdb508d.png);">
                                    <div class="status"></div>
                                    <div class="title">
                                        <div class="text">
                                            <p>佛山暨大港澳子弟学校6月7日校园开放日</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>开始时间：2025-06-07 08:30-12:00</p>
                                    <p>主办单位：佛山暨大港澳子弟学校</p> <a
                                        href="//www.ieduchina.com/huodong/202505/2773.html"><button>查看详情
                                            →</button></a>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="5"
                                style="width:360px;">
                                <div class="image"
                                    style="background-image:url(https://zhaosheng.ieduchina.com/Upload/File/202505/6837f2e421ee5.png);">
                                    <div class="status"></div>
                                    <div class="title">
                                        <div class="text">
                                            <p>南宁哈罗礼德学校6月7日欢乐汇，邀您参加</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>开始时间：2025-06-07 09:00-12:00</p>
                                    <p>主办单位：南宁哈罗礼德学校</p> <a
                                        href="//www.ieduchina.com/huodong/202505/2777.html"><button>查看详情
                                            →</button></a>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="6" style="width:360px;">
                                <div class="image"
                                    style="background-image:url(https://zhaosheng.ieduchina.com/Upload/File/202505/682ad7a0116e9.jpg);">
                                    <div class="status"></div>
                                    <div class="title">
                                        <div class="text">
                                            <p>广州市斐特思学校6月7日校园开放日</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>开始时间：2025-06-07 09:30-13:00</p>
                                    <p>主办单位：广州市斐特思学校</p> <a
                                        href="//www.ieduchina.com/huodong/202505/2756.html"><button>查看详情
                                            →</button></a>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="7" style="width:360px;">
                                <div class="image"
                                    style="background-image:url(https://zhaosheng.ieduchina.com/Upload/File/202506/683fe7b4de58a.png);">
                                    <div class="status"></div>
                                    <div class="title">
                                        <div class="text">
                                            <p>上海美达菲学校6月8日校园开放日</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>开始时间：2025-06-08 13:00-16:00</p>
                                    <p>主办单位：上海美达菲学校</p> <a
                                        href="//www.ieduchina.com/huodong/202506/2781.html"><button>查看详情
                                            →</button></a>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0"
                                style="width:360px;">
                                <div class="image"
                                    style="background-image:url(https://zhaosheng.ieduchina.com/Upload/File/202506/683ea40bb46eb.png);">
                                    <div class="status"></div>
                                    <div class="title">
                                        <div class="text">
                                            <p>2025荟同时装秀，邀您参加</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>开始时间：2025-06-06 18:30-19:00</p>
                                    <p>主办单位：深圳荟同学校</p> <a
                                        href="//www.ieduchina.com/huodong/202506/2780.html"><button>查看详情
                                            →</button></a>
                                </div>
                            </div>
                        </div><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
                <div class="hot-school">
                    <h3><i></i>热门学校</h3>
                    <ul>
                        <li><a href="//schoollist.ieduchina.com/school/qls/">
                                <div class="iedu-logo-wrap">
                                    <div class="iedu-logo"
                                        style="background-image:url(https://www.ieduchina.com/uploadfile/college/202111/1637041580.png);">
                                    </div>
                                </div>
                                <h2 title="清澜山学校">清澜山学校</h2>
                            </a>
                            <div class="label"><a class="y">幼儿园</a><a class="x">小学</a><a class="c">初中</a><a
                                    class="g">高中</a></div>
                            <p>课程设置：AP,Alevel,美式,双语国际</p>
                            <p>学费区间：19-26万</p>
                            <div class="btn"><button type="button" class="side-form-btn">申请入读</button></div>
                        </li>
                        <li><a href="//schoollist.ieduchina.com/school/Harrownanning/">
                                <div class="iedu-logo-wrap">
                                    <div class="iedu-logo"
                                        style="background-image:url(https://zhaosheng.ieduchina.com/Upload/File/202412/6773951d718f9.jpg);">
                                    </div>
                                </div>
                                <h2 title="南宁哈罗礼德学校">南宁哈罗礼德学校</h2>
                            </a>
                            <div class="label"><a class="y">幼儿园</a><a class="x">小学</a><a class="c">初中</a><a
                                    class="g">高中</a></div>
                            <p>课程设置：Alevel,IGCSE,英式</p>
                            <p>学费区间：17.97-31.41万</p>
                            <div class="btn"><button type="button" class="side-form-btn">申请入读</button></div>
                        </li>
                        <li><a href="//schoollist.ieduchina.com/school/isawuhan/">
                                <div class="iedu-logo-wrap">
                                    <div class="iedu-logo"
                                        style="background-image:url(https://zhaosheng.ieduchina.com/Upload/File/202503/67c6a18793811.png);">
                                    </div>
                                </div>
                                <h2 title="爱莎武汉学校">爱莎武汉学校</h2>
                            </a>
                            <div class="label"><a class="y">幼儿园</a><a class="x">小学</a><a class="c">初中</a><a
                                    class="g">高中</a></div>
                            <p>课程设置：IB,AP,Alevel,IGCSE,其他</p>
                            <p>学费区间：20-28万/年</p>
                            <div class="btn"><button type="button" class="side-form-btn">申请入读</button></div>
                        </li>
                        <li><a href="//schoollist.ieduchina.com/school/tjyh/">
                                <div class="iedu-logo-wrap">
                                    <div class="iedu-logo"
                                        style="background-image:url(https://www.ieduchina.com/uploadfile/school/202207/1659094455.jpg);">
                                    </div>
                                </div>
                                <h2 title="天津英华实验学校-国际高中部">天津英华实验学校-国际高中部</h2>
                            </a>
                            <div class="label"><a class="g">高中</a></div>
                            <p>课程设置：Alevel,加拿大,IGCSE</p>
                            <p>学费区间：8.5-15.6万/年</p>
                            <div class="btn"><button type="button" class="side-form-btn">申请入读</button></div>
                        </li>
                        <li><a href="//schoollist.ieduchina.com/school/dghywgy/">
                                <div class="iedu-logo-wrap">
                                    <div class="iedu-logo"
                                        style="background-image:url(https://www.ieduchina.com/uploadfile/college/202405/1715736978.png);">
                                    </div>
                                </div>
                                <h2 title="东莞市海逸外国语学校">东莞市海逸外国语学校</h2>
                            </a>
                            <div class="label"><a class="x">小学</a><a class="c">初中</a><a class="g">高中</a></div>
                            <p>课程设置：香港DSE</p>
                            <p>学费区间：12万</p>
                            <div class="btn"><button type="button" class="side-form-btn">申请入读</button></div>
                        </li>
                    </ul>
                    <div class="mask" id="hot_school_form">
                        <div class="main">
                            <div class="close">×</div>
                            <h3>填写申请信息</h3>
                            <form action=""><input type="hidden" value="国际教育网PC版" mark="mark">
                                <div class="clearfix">
                                    <div class="fl from_list"><select name="province" id="provinceid"
                                            nullmsg="请选择在读省份"></select></div>
                                </div>
                                <div class="clearfix">
                                    <div class="fl from_list"><select name="city" id="cityid" nullmsg="请选择在城市">
                                            <option value="">您目前在读的城市</option>
                                        </select></div>
                                </div>
                                <div class="clearfix">
                                    <div class="fl from_list"><input type="text" name="name" placeholder="学生姓名"
                                            id="truename" nullmsg="请填写学生姓名"></div>
                                </div>
                                <div class="clearfix">
                                    <div class="fl from_list"><select name="grade" nullmsg="请选择在读年级"
                                            style="color:rgb(102, 102, 102);">
                                            <option value="" selected="selected">在读年级</option>
                                            <option value="幼儿园">幼儿园</option>
                                            <option value="一年级">一年级</option>
                                            <option value="二年级">二年级</option>
                                            <option value="三年级">三年级</option>
                                            <option value="四年级">四年级</option>
                                            <option value="五年级">五年级</option>
                                            <option value="六年级">六年级</option>
                                            <option value="七年级">七年级</option>
                                            <option value="八年级">八年级</option>
                                            <option value="九年级">九年级</option>
                                            <option value="十年级">十年级</option>
                                            <option value="十一年级">十一年级</option>
                                            <option value="十二年级">十二年级</option>
                                            <option value="大一">大一</option>
                                            <option value="大二">大二</option>
                                            <option value="大三">大三</option>
                                            <option value="大四">大四</option>
                                            <option value="已毕业">已毕业</option>
                                        </select></div>
                                </div>
                                <div class="clearfix">
                                    <div class="fl from_list"><input type="text" placeholder="手机号码" datatype="m"
                                            name="mobile" id="mobile2" nullmsg="请填写手机号码" errormsg="手机号格式不正确"
                                            maxlength="11"></div>
                                </div>
                                <p class="error-tips"></p><input type="hidden" name="want_school" value="">
                                <div class="sub_btn form_btn right" successmsg="提交成功" errormsg="提交失败，请重新提交">确认提交
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="hot-news">
                    <h3><i></i>热门资讯</h3>
                    <ul>
                        <li><a href="//www.ieduchina.com/shenzhen/education/202505/127886.html">
                                <div class="image"
                                    style="background-image:url(https://www.ieduchina.com/statics/js/editor/php/upload/image/20250507/1746604162592652.png);">
                                </div>
                            </a>
                            <div class="news-text"><a href="//www.ieduchina.com/shenzhen/education/202505/127886.html">
                                    <p class="title">2025年深圳国际预科学院怎么样？学费多少？</p>
                                </a>
                                <p class="bottom"><a href="//www.ieduchina.com/home/10981.html" rel="nofollow"><span
                                            title="深圳择校攻略">深圳择校攻略</span></a></p>
                            </div>
                        </li>
                        <li><a href="//www.ieduchina.com/shenzhen/education/202505/127803.html">
                                <div class="image"
                                    style="background-image:url(//www.ieduchina.com/uploadfile/202505/f21920250506084036.jpg);">
                                </div>
                            </a>
                            <div class="news-text"><a href="//www.ieduchina.com/shenzhen/education/202505/127803.html">
                                    <p class="title">2025年香港大学AI科技夏令营：开启未来科技之门</p>
                                </a>
                                <p class="bottom"><a href="//www.ieduchina.com/home/5070.html" rel="nofollow"><span
                                            title="新哲文院">新哲文院</span></a></p>
                            </div>
                        </li>
                        <li><a href="//www.ieduchina.com/hongkong/summercamp/202503/125885.html">
                                <div class="image"
                                    style="background-image:url(//www.ieduchina.com/uploadfile/202503/f87620250314081806.jpg);">
                                </div>
                            </a>
                            <div class="news-text"><a href="//www.ieduchina.com/hongkong/summercamp/202503/125885.html">
                                    <p class="title">开始报名！不限身份，3-18岁，2025热门港校夏令营火热来袭！</p>
                                </a>
                                <p class="bottom"><a href="//www.ieduchina.com/home/4920.html" rel="nofollow"><span
                                            title="选校砖家">选校砖家</span></a></p>
                            </div>
                        </li>
                        <li><a href="//www.ieduchina.com/school/dynamics/202406/112714.html">
                                <div class="image"
                                    style="background-image:url(//www.ieduchina.com/uploadfile/202406/f10020240612083943.jpg);">
                                </div>
                            </a>
                            <div class="news-text"><a href="//www.ieduchina.com/school/dynamics/202406/112714.html">
                                    <p class="title">惠州培文（原北大培文学校）2024年高一新生招生简章</p>
                                </a>
                                <p class="bottom"><a href="//www.ieduchina.com/home/7328.html" rel="nofollow"><span
                                            title="惠州培文">惠州培文</span></a></p>
                            </div>
                        </li>
                        <li><a href="//www.ieduchina.com/abroad/france/202108/73566.html">
                                <div class="image"
                                    style="background-image:url(https://www.ieduchina.com/uploadfile/202108/f89920210830101923.jpg);">
                                </div>
                            </a>
                            <div class="news-text"><a href="//www.ieduchina.com/abroad/france/202108/73566.html">
                                    <p class="title">新生必看 | 可能是全法最详细的巴黎地区治安指南</p>
                                </a>
                                <p class="bottom"><a href="//www.ieduchina.com/home/5281.html" rel="nofollow"><span
                                            title="鑫慧迪法国留学一站通">鑫慧迪法国留学一站通</span></a></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="star-school-choice">
                    <h3><i></i>说择校</h3>
                    <ul>
                        <li><a href="//www.ieduchina.com/video/438.html">
                                <div
                                    style="background-image:url(https://www.ieduchina.com/uploadfile/toutiao/202505/1748326396640534.png);">
                                    <p>香港国际学校竞教小学生开公司？香港威雅杨副校长：学生18岁前玩转跨国商业项目！</p>
                                </div>
                            </a></li>
                        <li><a href="//www.ieduchina.com/video/437.html">
                                <div
                                    style="background-image:url(https://www.ieduchina.com/uploadfile/toutiao/202505/1748326343856177.png);">
                                    <p>港八大录取率83.3%！沙田培英校长亲曝，内地生转香港名校真能“躺赢”</p>
                                </div>
                            </a></li>
                        <li><a href="//www.ieduchina.com/video/436.html">
                                <div
                                    style="background-image:url(https://www.ieduchina.com/uploadfile/toutiao/202505/1748326324524434.png);">
                                    <p>港八大录取率高达9成！元朗信义校长亲授 内地生选科别抄作业，这样选才稳</p>
                                </div>
                            </a></li>
                        <li><a href="//www.ieduchina.com/video/435.html">
                                <div
                                    style="background-image:url(https://www.ieduchina.com/uploadfile/toutiao/202505/1747721905393845.png);">
                                    <p>DSE与考校vs内地校？张校长揭秘：港澳子弟学校的3大碾压级优势</p>
                                </div>
                            </a></li>
                        <li><a href="//www.ieduchina.com/video/434.html">
                                <div
                                    style="background-image:url(https://www.ieduchina.com/uploadfile/toutiao/202505/1747721548641991.png);">
                                    <p>DSE vs A-Level终极快择！香港双轨名校校长亲曝，选错课程恐无缘港大医科？</p>
                                </div>
                            </a></li>
                    </ul>
                </div>
            </div>
        </aside>
    </section>
    <footer class="footer_nav">
        <div class="con">
            <div class="footer-menu">
                <h2><img src="https://www.ieduchina.com/statics/pcc/img/logo_footer.png?v=1" alt="国际教育网"></h2>
                <ul>
                    <li><a href="//www.ieduchina.com/service/aboutus.html" rel="nofollow">关于我们</a></li>
                    <li><a href="//www.ieduchina.com/mp/login_member.html" rel="nofollow">投稿</a></li>
                    <li><a href="//www.ieduchina.com/service/tousu.html" rel="nofollow">投诉侵权</a></li>
                    <li><a href="//www.ieduchina.com/service/ad.html" rel="nofollow">联系我们</a></li>
                    <li><a href="//www.ieduchina.com/service/joinus.html" rel="nofollow">加入我们</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <ul>
                    <li><img src="https://www.ieduchina.com/statics/pcc/img/ada.png"
                            alt="国际教育网Ada"><span>国际教育网Ada</span></li>
                    <li>
                        <p>学生家长咨询</p>
                        <p>400-900-8516</p>
                    </li>
                    <li><img src="https://www.ieduchina.com/statics/hui.jpg" alt="学校官方媒体合作"> <span>学校官方媒体合作</span>
                    </li>
                    <li>
                        <p>学校媒体合作</p>
                        <p>18165706113</p>
                    </li>
                </ul>
                <div class="right">
                    <p><span>小红书</span><span><a>爱读国际择校说</a><a class="img-wrap"><img
                                    src="//www.ieduchina.com/statics/pcc/img/db240701.jpg"
                                    alt="爱读国际择校说"></a></span><span><a>国际择校说</a><a class="img-wrap"><img
                                    src="//www.ieduchina.com/statics/pcc/img/cf005a47.jpg"
                                    alt="国际择校说"></a></span><span><a>爱读选校君</a><a class="img-wrap"><img
                                    src="//www.ieduchina.com/statics/pcc/img/ae66ed27.jpg"
                                    alt="爱读选校君"></a></span><span><a>小鹏</a><a class="img-wrap"><img
                                    src="//www.ieduchina.com/statics/pcc/img/c0651e2d.jpg" alt="小鹏"></a></span></p>
                    <p><span>视频号</span><span><a>选校砖家</a><a class="img-wrap"><img
                                    src="https://www.ieduchina.com/statics/pcc/img/181e94a0.png" alt="选校砖家"></a></span>
                    </p>
                    <p><span>微信公众号</span><span><a>选校砖家</a> <a class="img-wrap"><img
                                    src="https://www.ieduchina.com/statics/pcc/img/1a98d522.png"
                                    alt="选校砖家"></a></span><span><a>香港名校通</a> <a class="img-wrap"><img
                                    src="https://www.ieduchina.com/statics/pcc/img/b3130733.png"
                                    alt="香港名校通"></a></span><span><a>爱读教育</a> <a class="img-wrap"><img
                                    src="https://www.ieduchina.com/statics/pcc/img/2a8a129a.png" alt="爱读教育"></a></span>
                    </p>
                    <p><span>小程序</span><span><a>探校小管家</a> <a class="img-wrap"><img
                                    src="https://www.ieduchina.com/statics/pcc/img/25eb8325.png" alt="探校小管家"></a></span>
                    </p>
                </div>
            </div>
            <div class="footer-copyright">
                <p>Copyright © <span id="copyyear">2025</span> 国际教育网 版权所有</p>
                <p><a href="http://beian.miit.gov.cn/" rel="nofollow">粤ICP备2021064228号-2</a> <a
                        href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030502002588"
                        rel="nofollow"><img src="//www.ieduchina.com/statics/pcc/img/police.png?v=1"
                            style="display:inline-block;vertical-align:middle;">粤公网安备 44030502002588号</a></p>
                <p>网站所有图片、文字未经许可不得拷贝、复制</p>
            </div>
        </div>
    </footer>
</body>

</html>